<section id="showcase">
    <div class="container text-center">
        <div class="home-search p-5">
            <div class="overlay p-5">
                <h1 class="display-4 mb-4 text-bold">
                    Property Searching Just Got So Easy
                </h1>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae quas, asperiores
                    eveniet
                    vel nostrum magnam
                    voluptatum tempore! Consectetur, id commodi!</p>
                <div class="search">
                    <form action="{{ form_action_url }}">
                        <!-- Form Row 1 -->
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Keywords</label>
                                <input type="text" value="{{ values.keywords }}" name="keywords" class="form-control"
                                    placeholder="Keyword (Pool, Garage, etc)">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Area</label>
                                <select name="area" class="form-control">
                                    <option selected="true" disabled="disabled">Area (All)</option>
                                    <option value="">None</option>
                                    {% for key, value in area.items %}
                                    <option value="{{ key }}" {% if key == values.area %} selected {% endif %}>
                                        {{ value }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Form Row 2 -->
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="sr-only">Business Type</label>
                                <select name="business_type" class="form-control">
                                    <option selected="true" disabled="disabled">Business Type</option>
                                    <option value="">None</option>
                                    {% for k, v in business_type_choice.items %}
                                    <option value="{{k}}" {% if k == values.business_type %} selected {% endif %}>
                                        {{v}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
								<label class="sr-only">Price Range</label>
                                <select name="price" class="form-control" id="type">
                                    <option selected="true" disabled="disabled">Max Price (Any)</option>
                                    <option value="">None</option>
                                    {% for k,v in price.items %}
                                    <option value="{{k}}" {% if k == values.price %} selected {% endif %}>
                                        {{v}} </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
