<div class="container mb-5">
    <div class="row">
        <div class="col-lg-10 col-md-12 mx-auto my-2">
            <h1 class="border-bottom my-2">Latest News</h1>
            <div class="my-5">
                {% if latest_news %}
                {% for news in latest_news.all %}
                <div class="post-preview">
                    <a href="{{ news.link }}">
                        <h2 class="post-title">
                            {{ news.title | title }}
                        </h2>
                    </a>
                    <p class="post-meta">Published
                        on {{ news.date | date }}</p>
                </div>
                {% endfor %}
                {% else %}
                <div class="m-auto col-md-12">
                    <p>No News Story Available</p>
                </div>
                {% endif %}
            </div>
            <a href="{% url 'feeds:latest_feeds' %}" class="btn btn-primary">
                See all News
            </a>
        </div>
    </div>
</div>