@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900,900i');

#header {
    height: 50px;
    background: #f2f2f2;
    color: #1654d0;
    /* border-bottom: 1px solid #c2c2c2; */
}

#branding h1,
#head span,
#branding h1 a:link,
#branding h1 a:visited {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1654d0;
}

#object-tools a:link,
#object-tools a:visited,
#user-tools a:link,
#user-tools a:visited {
    color: #1654d0;
}

#user-tools a:focus,
#user-tools a:hover {
    text-decoration: none;
    border-bottom-color: #000;
    color: #000;
}

.object-tools a {
    border-radius: 5px;
}

.object-tools a:link,
.object-tools a:visited {
    padding: 5px 15px;
    background: #1654d0;
}

.object-tools a.viewsitelink,
.object-tools a.golink,
.object-tools a.addlink {
    background-image: url(../admin/img/tooltag-add.svg);
    background-repeat: no-repeat;
    background-position: right 7px center;
    padding-right: 26px;
}

.object-tools a:focus,
.object-tools a:hover {
    background-color: #1654d0;
}

.nav-item {
    float: right;

}

.nav-item a:link,
.nav-item a:visited {
    color: #1654d0 !important;
    text-decoration: none
}

.nav-item a:hover,
.nav-item a:focus {
    color: #5a5a5a !important;
    transition: all 0.8ms;
}

.nav-item a {
    margin-left: 10px;
}

div.breadcrumbs {
    background: #1654d0;
}

a:link,
a:visited {
    color: #1654d0;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #0045cf;
}

h1 {
    color: #000000;
}

thead th,
tfoot td {
    color: #141414;
}

.module h2,
.module caption,
.inline-group h2 {
    background: #1654d0;
    color: #fff;
}

.button.default,
input[type="submit"].default,
.submit-row input.default {
    background: #0045cf;
}

.button,
input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
    background: #1654d0;
}

.button.default:active,
input[type="submit"].default:active,
.button.default:focus,
input[type="submit"].default:focus,
.button.default:hover,
input[type="submit"].default:hover {
    background: #1654d0;
}

.button:active,
input[type="submit"]:active,
input[type="button"]:active,
.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
    background: #1654d0;
}

.submit-row a.deletelink {
    background: #ec3a3a !important;
    padding: 10px 17px !important;
}

.submit-row a.deletelink:focus,
.submit-row a.deletelink:hover,
.submit-row a.deletelink:active {
    background: #be2121 !important;
}