{% extends 'layout.html' %}
{% load static %}
{% block title %} Endorsements {% endblock %}
{% block endorsement_li_class %} active {% endblock %}
{% block content %}

<div class="disclaimer my-5">
    <div class="container">
        {% for client in clients.all %}
        <div class="col-md-12 my-2">
            <h2> {{ client.name }} </h2>
            <h4> {{ client.business_involved_in }} </h4>
            <p> location: {{ client.location }} </p>
            {{ client.comment | safe }}
        </div>
        <hr>
        {% endfor %}
    </div>
</div>

{% endblock %}