{% extends 'layout.html' %}
{% load static %}
{% load humanize %}
{% block title %} Buy a commercial property {% endblock %}
{% block listing_li_class %} active {% endblock %}

{% block content %}
{% include 'partials/_search_box.html' %}

<div class="py-5">
  <div class="container">
    <div class="row">
      {% if list %}
      {% for list_item in list %}
      <div class="col-md-3">
        <div class="card mt-5 shadow-sm">
          <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{{ list_item.image_main.url }}" />
          <div class="card-img-overlay">
            <h2>
              <span class="badge badge-primary text-dark">${{ list_item.asking_price | intcomma }}</span>
            </h2>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ list_item.location }}</li>
            <li class="list-group-item">{{ list_item.business }}</li>
            <li class="list-group-item">{{ list_item.summary | safe }} </li>
            <li class="list-group-item">Status: {{ list_item.status }}</li>
          </ul>
          <div class="card-body justify-content-between align-items-center">
            <div class="btn-group">
              <a href="{% url 'commercial_details' list_item.listing_id %}">
                <button type="button" class="btn btn-sm btn-primary">More
                  Details..</button>
              </a>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
      {% else %}
      <div class="col-md-12">
        <h1 class="text-center">No Listing Available</h1>
      </div>
      {% endif %}
      <!-- Pagination -->
      <div class="col-md-12 mt-5">
        <nav aria-label="Page navigation ">
          <ul class="pagination justify-content-center">
            {% if list.has_other_pages %}
            {% if list.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ list.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="" tabindex="-1">Previous</a>
            </li>
            {% endif %}
            {% for i in list.paginator.page_range %}
            {% if list.number == i %}
            <li class="page-item active"><a class="page-link " href="">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item"><a class="page-link " href="?page={{i}}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if list.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ list.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="" tabindex="-1">Next</a>
            </li>
            {% endif %}
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


{% endblock%}