{% extends 'layout.html' %}
{% load static %}
{% load humanize %}
{% block title %} Sold Business {% endblock %}
{% block listing_li_class %} active {% endblock %}

{% block content %}

<div class="my-3">
  <div class="container">
    <div class="row">
      {% for list_item in list %}
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ list_item.title }}</li>
            <li class="list-group-item">Area : {{ list_item.area }}</li>
            <li class="list-group-item">Price: {{ list_item.price }} </li>
            <li class="list-group-item">Type : {{ list_item.business_type }}</li>
          </ul>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>


{% endblock%}